<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cigna_Box.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D0C69011EE83F720048D7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D0C69151EE83F730048D7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D0C69201EE83F730048D7AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
